<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/post/show/#{@post.id}/update") do %>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <input type="text" name="ip_address"     value=<%= @post.ip_address %>>
        <input type="text" name="location"       value=<%= @post.location %>>
        <input type="text" name="control_number" value=<%= @post.control_number %>>
        <input type="text" name="user"           value=<%= @post.user %>>
        <input type="text" name="use"            value=<%= @post.use %>>
        <input type="submit" value="修正">
      </div>
      <div class="post-menus">
        <%= link_to("削除", "/post/show/#{@post.id}/destroy", {method: "post"}) %>
      </div>
    </div>
    <% end %>
  </div>
</div>