<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to(post.ip_address,     "/post/show/#{post.id}") %>
        <%= link_to(post.location,       "/post/show/#{post.id}") %>
        <%= link_to(post.control_number, "/post/show/#{post.id}") %>
        <%= link_to(post.user,           "/post/show/#{post.id}") %>
        <%= link_to(post.use,            "/post/show/#{post.id}") %>
      </div>
    <% end %>
  </div>
</div>