<!DOCTYPE html>
<html>
  <head>
    <title>IpMan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/">ip-man</a>
      </div>
      <ul class="header-menus">
        <li>
          <a href="/about">ip-addressとは</a>
        </li>
        <li>
          <%= link_to("61", "/post/index/61") %>
        </li>
        <li>
          <%= link_to("64", "/post/index/64") %>
        </li>
        <li>
          <%= link_to("65", "/post/index/65") %>
        </li>
        <li>
          <%= link_to("その他", "/post/index/other") %>
        </li>
        <li>
          <%= link_to("登録", "/post/new") %>
        </li>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
